.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: aqua;
}

.list-item{
  font-size: 2em;
  list-style: none;
  color: black;
  text-align: center;
  margin: 0;
}

.list-item li:hover{
  color: hsl(0,0%,45%);
  cursor: pointer;
}